:root {
    --text-color: white; 
    --text-color2: black;
    --bee-yellow: #ffb313;
    --input-box: rgb(255, 246, 189);
}

/************ Fonts ************/
@font-face {
	font-family: 'TelegrafReg';
	src: url('../fonts/PPTelegraf-Regular.otf');
    font-weight: 700;
    font-style: none;
    font-display: swap;
}

@font-face {
	font-family: 'TelegrafLight';
	src: url('../fonts/PPTelegraf-Ultralight.otf');
    font-weight: 700;
    font-style: none;
    font-display: swap;
}

@font-face {
	font-family: 'TelegrafBold';
	src: url('../fonts/PPTelegraf-UltraboldSlanted.otf');
    font-weight: 700;
    font-style: none;
    font-display: swap;
}

@font-face {
	font-family: 'AgrandirWide';
	src: url('../fonts/Agrandir-WideBlackItalic.otf');
    font-weight: 300;
    font-style: none;
    font-display: swap;
}

/************ Reset Password CSS ************/
.sign-in {
    text-align: center;
    font-family: TelegrafReg, sans-serif;
    color: var(--text-color2);
    font-size: 15px;
    padding-top: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%; 
    transition: 0.3s ease-in-out;
}

#resetpassword {
    margin-top: 0;
    padding: 10% 0 30% 0;
    background-image: url('../images/background.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#resetpassword-dark {
    margin-top: 0;
    padding: 10% 0 30% 0;
    background-image: url('../images/background-night.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resetpassword h1 {
    text-align: center;
    font-family: AgrandirWide, sans-serif;
    font-size: 65px;
    letter-spacing: 1px;
    color: var(--text-color);
    line-height: 1;
    display: block;
    transition: 0.3s ease-in-out;
}

.resetpassword h2 {
    color: var(--text-color2) !important;
    font-family: TelegrafBold, sans-serif;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.resetpassword a {
    color: var(--text-color2) !important;
    transition: 0.3s ease-in-out;
}

.resetpassword p {
    text-align: center;
    font-family: TelegrafReg, sans-serif;
    color: var(--text-color2);
    font-size: 15px;
    padding-top: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.resetpassword input {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    padding-left: 40px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    border: none;
    margin-top: 2rem;
    padding-top: 3px;
    border-radius: 0.5rem;
    height: 3rem;
}

.resetpassword input:focus, textarea:focus {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    background-color: var(--input-box);
}

.resetpassword input::placeholder {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
}

.iconDiv {
    position: relative;
}

.icon {
    position: absolute;
    top: 70%;
    left: 10px;
    transform: translateY(-50%);
}

.eye {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
}

/************ resetpassword Button CSS ************/
.reset-button:not(:disabled):hover {
    transform: scale(1.05);
}
  
.reset-button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}
  
.reset-button:focus {
    outline: 0 solid transparent;
}
  
.reset-button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}
  
.reset-button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}
  
.reset-button:focus:not(:focus-visible):before {
    border-width: 0;
}
  
.reset-button:not(:disabled):active {
    transform: translateY(.125rem);
}
  
.reset-button {
    display: flex;
    text-align: center;
    font-family: TelegrafBold, sans-serif;
    margin: auto;
    padding: 17px 40px 14px;
    border: 1px solid rgb(255, 255, 255);
    flex-basis: 150px;
    flex-grow: 1;
    color: black;
    background-color: #fff;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    position: relative;
    text-align: center;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
