:root {
    --text-color: white; 
    --text-color2: black;
    --bee-yellow: #ffb313;
    --side-bar: #74191b;
    --border1: #c05230;
    --border2: #d86a2d;
}

/************ Fonts ************/
@font-face {
	font-family: 'TelegrafReg';
	src: url('../fonts/PPTelegraf-Regular.otf');
    font-weight: 700;
    font-style: none;
    font-display: swap;
}

@font-face {
	font-family: 'TelegrafLight';
	src: url('../fonts/PPTelegraf-Ultralight.otf');
    font-weight: 700;
    font-style: none;
    font-display: swap;
}

@font-face {
	font-family: 'AgrandirWide';
	src: url('../fonts/Agrandir-WideBlackItalic.otf');
    font-weight: 300;
    font-style: none;
    font-display: swap;
}

/************ User Homepage CSS ************/
#user-home {
    margin-top: 0;
    padding: 15% 0 30% 0;
    background-image: url('../images/background-house.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

#user-home-dark {
    margin-top: 0;
    padding: 15% 0 30% 0;
    background-image: url('../images/background-house-night.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-home-container h1 {
    text-align: center;
    font-family: AgrandirWide, sans-serif;
    font-size: 65px;
    letter-spacing: 1px;
    color: var(--text-color);
    line-height: 1;
    display: block;
    transition: 0.3s ease-in-out;
}

.user-home-container h2 {
    color: var(--text-color2) !important;
    font-family: TelegrafBold, sans-serif;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.user-home-container h3 {
    text-align: center;
    font-family: AgrandirWide, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--text-color2);
    line-height: 1;
    display: block;
    transition: 0.3s ease-in-out;
}

.user-home-container a {
    color: var(--text-color2) !important;
    transition: 0.3s ease-in-out;
}

.user-home-container p {
    font-family: TelegrafReg, sans-serif;
    color: var(--text-color2);
    margin-top: 2rem;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.user-home-container b {
    font-family: TelegrafBold, sans-serif;
}

.icon3 {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

/************ Popup for Daily Check-in ************/
.modal {
    --bs-modal-width: 50% !important;
}

.modal-content {
    background-color: var(--bee-yellow) !important;
    display: grid !important;
}

.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
}

.modal-header {
    border-bottom: none !important;
    display: contents !important;
}

.footerDiv {
    display: grid;
    height: 150px;
    grid-template-columns: repeat(2, 1fr);
}

.btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.textBox {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    padding-left: 40px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    padding-top: 3px;
    width: 100%;
}

.textBox:focus, textarea:focus {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
    background-color: var(--input-box);
}

.textBox::placeholder {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
}

/************ Images ************/
.bee-excited {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: updown 3s linear infinite;
}

.book {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/************ Popup Button CSS ************/
.submit-button:not(:disabled):hover {
    transform: scale(1.05);
}
  
.submit-button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}
  
.submit-button:focus {
    outline: 0 solid transparent;
}
  
.submit-button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}
  
.submit-button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}
  
.submit-button:focus:not(:focus-visible):before {
    border-width: 0;
}
  
.submit-button:not(:disabled):active {
    transform: translateY(.125rem);
}
  
.submit-button {
    display: flex;
    text-align: center;
    font-family: TelegrafBold, sans-serif;
    margin: auto;
    padding: 17px 40px 14px;
    border: 1px solid rgb(255, 255, 255);
    flex-basis: 150px;
    flex-grow: 1;
    color: black;
    background-color: #ffffff;
    backface-visibility: hidden;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    position: relative;
    text-align: center;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/************ Sidebar CSS ************/
.sidebar {
    font-family: TelegrafBold, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 50;
    padding-top: 8rem;
}

#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: var(--side-bar) !important;
    border-image: linear-gradient(to bottom, var(--border1), var(--border2)) 50;
    border-right: 1rem solid;
    transition: 0.3s ease-in-out;
}

.sideBarIcon {
    margin-left: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

/************ Stats CSS ************/
.icon-cal {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

/************ Journal CSS ************/
.book-container {
    position: absolute;
    top: 10%;
    left: 7%;
}

.bookDiv {
    position: relative;
}

.book-container textarea {
    width: 25rem;
    height: 28rem;
    resize: none;
    background-color: transparent;
    border: none;
}

.book-container textarea::placeholder {
    font-family: TelegrafReg, sans-serif;
    color: #5d5d5d;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
}